.app-container {
  display: flex;
}

.main-content {
  margin-left: 60px; /* Default width of sidebar */
  padding: 20px;
  transition: margin-left 0.3s;
  width: calc(100% - 60px);
}

.sidebar.open ~ .main-content {
  margin-left: 270px; /* Adjust based on expanded sidebar width */
  width: calc(100% - 270px);
}

#header-button {
  display: flex;
}
